/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2020, 9:05:12 AM
    Author     : Thu
*/


body{
    font-family: arial;
}
*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 15px;
}
h1{
    text-align: center;
}
.product-items{
    border: 1px solid #000;
    padding: 30px;
}
.product-item{
    float: left;
    width: 23%;
    margin: 1%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    line-height: 26px;
}
.product-item label{
    font-weight: bold;
}
.product-item p{
    margin: 0;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
}
.product-price{
    color: red;
    font-weight: bold;
}
.product-img{
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
}
.product-item img{
    max-width: 100%;
}
.product-item ul{
    margin: 0;
    padding: 0;
    border-right: 1px solid #000;
}
.product-item ul li{
    float: left;
    width: 33.3333%;
    list-style: none;
    text-align: center;
    border: 1px solid #000;
    border-right: 0;
    box-sizing: border-box;
}
.clear-both{
    clear: both;
}
a{
    text-decoration: none;
}
.buy-button{
    text-align: right;
    margin-top: 10px;
}
.buy-button a{
    background: #444;
    padding: 5px;
    color: #fff;
}
#pagination{
    text-align: right;
    margin-top: 15px;
}
.page-item{
    border: 1px solid #000;
    padding: 5px 9px;
    color: #000;
}
.current-page{
    background: #000;
    color: #FFF;
}
#product-detail{
    border-top: 1px solid #000;
    padding: 15px 0 0 0;
}
#product-img{
    width: 30%;
    float: left;
}
#product-info{
    float: right;
    width: 70%;
    text-align: left;
    padding-left: 30px;
}
#product-img img{
    max-width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
h1{
    text-align: left;
    margin-top: 0;
}
label.add-to-cart{
    background: #000;
    border: 1px solid #000;
    margin-top: 15px;
    padding: 15px;
    display: inline-block;
    color: #fff;
}
label a{
    color: #FFF;
}
#gallery{
    margin-top: 10px;
}
#gallery ul{
    margin: 0;
    padding: 0;
}
#gallery ul li{
    width: 150px;
    float: left;
    list-style: none;
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100px;
    text-align: center;
    padding: 5px;
    border: 1px solid #000;
    background: #eee;
}
#gallery ul li img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
table{
    border-collapse: collapse;
    width: 1170px;
}
table, th, td {
    border: 1px solid black;
}
table .product-img img{
    max-width: 100px;
}
table .product-name{
    width: 350px;
    padding-left: 20px;
}
table .product-img{
    width: 120px;
    text-align: center;
}
table .product-number{
    width: 50px;
    text-align: center;
}
table .product-price{
    width: 100px;
    text-align: center;
}
table .product-quantity input{
    width: 40px;
    text-align: center;
}
table .product-quantity{
    width: 60px;
    text-align: center;
}
table .total-money{
    width: 100px;
    text-align: center;
}
#form-button{
    text-align: right;
    margin-top: 15px;
}
.product-delete{
    width: 100px;
    text-align: center;
}
#cart-form label{
    width: 100px;
    display: inline-block;
    margin-top: 15px;
}
#cart-form textarea{
    margin-top: 15px;
}
#cart-form input{
    line-height: 30px;
    height: 30px;
}
input[name="order_click"]{
    margin-top: 15px;
}
#row-total{
    background: #eee;
    color: #000;
}

#add-to-cart-form input[type='text']{
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
}
#add-to-cart-form input[type='submit']{
    background: #000;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 15px;
    display: inline-block;
    color: #fff;
}

nav {
    background-color: darkcyan;
    height: 80px;;
}

li{
    list-style: none;
}

nav ul{
    display: flex;
    padding: 20px;
}

nav ul li:nth-child(1) input{
    height: 40px;
    width: 270px;
    border-radius: 5px;
    border:none;
    padding-left: 8px;
}

nav ul li:nth-child(1){
    margin-left: 1100px;
    position: relative;
}

nav ul li:nth-child(1) i{
    position: absolute;
    right:15px;
    line-height: 35px;
    font-size: 15px;
}



nav ul li:nth-child(2) button{
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
}
nav ul li:nth-child(2){
    margin-left: 15px;
}

nav ul li:nth-child(2) button i {
    margin-right: 9px;
}

nav ul li:nth-child(2) button:hover{
    background-color: cadetblue;
}
nav ul li:nth-child(3){
    margin-left: 15px;
}
nav ul li:nth-child(3) button{
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    background-color:rgb(73, 206, 184);
    color: #FFF;
    border: 1px solid rgb(162, 195, 190);
    font-size: 20px;
}
nav ul li:nth-child(3) button:hover{
    background-color: cadetblue;
}
nav ul li:nth-child(4){
    margin-left: 15px;
}
nav ul li:nth-child(4) button{
    height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
    background-color:rgb(114, 138, 134);
    color: #FFF;
    border: 1px solid rgb(162, 195, 190);
    font-size: 20px;
}
nav ul li:nth-child(4) button:hover{
    background-color: cadetblue;
}
.menu-bar{
    background-color:rgb(69, 177, 177);
    
}
.menu-bar ul{
    display: flex;
    
    align-items: center;
}

.menu-bar ul li{
    padding: 15px 5px;
    transition: all 0.3 ease;
    text-decoration: none;
    
}

.menu-bar ul li:nth-child(1){
    margin-left: 750px;
    padding: 17px 40px;
}
.menu-bar ul li:nth-child(2){
    padding: 17px 40px;
}
.menu-bar ul li:nth-child(3){
    padding: 17px 40px;
}
.menu-bar ul li:nth-child(4){
    padding: 17px 40px;
}
.menu-bar ul li:nth-child(5){
    padding: 17px 40px;
}
.menu-bar ul li a{
    color: white;
    font-size: 18px;
}

.menu-bar ul li:hover{
    background-color: rgb(119, 119, 119);
}
}
.slider-content{
    /* display: flex; */
   

}


   

.content-right{
    
    display: flex;
    flex-wrap: wrap;
    margin-top:40px;
    padding: 0 300px;
}
.content-right li {
    width: 50%;
    height: 50%;
    text-align: center;
}
.content-right li img{
    height: 170px;
    width: 800px;
    margin-bottom: 15px;
    border-radius: 15px;

}
